<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yy-MM-dd HH:mm:ss,SSS} %-5p %c(%F:%L) ## %m%n" />
		</layout>
	</appender>

	<appender name="MAIL" class="org.apache.log4j.net.SMTPAppender">
		<param name="threshold" value="info" />
		<param name="BufferSize" value="512" />
		<param name="From" value="gcm365111@126.com" />
		<param name="SMTPHost" value="SMTP.126.com" />
		<param name="Subject" value="this is test" />
		<param name="SMTPUsername" value="gcm365111@126.com" />
		<param name="SMTPPassword" value="03023651gcm" />
		<param name="to" value="gcm3651@126.com" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yy-MM-dd HH:mm:ss,SSS} %-5p %c(%F:%L) ## %m%n" />
		</layout>
	</appender>

	<appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="./log/info.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yy-MM-dd HH:mm:ss,SSS} %-5p %c(%F:%L) ## %m%n" />
		</layout>
	</appender>


	
	<root>
		<level value="info" />
		<appender-ref ref="file" />
		<appender-ref ref="stdout" />
	</root>

</log4j:configuration>